/*-- scss:defaults --*/
$body-bg: #faf9f8;
$body-color: #8c8c8c;
$link-color: #f4ca16;

$navbar-bg: #f2efea;
$navbar-fg: #8c8c8c;
$navbar-hl: #ff5f00;

// $footer-fg: #0048ba; // footer 

// Fonts
// https://fonts.google.com/?query=instrument
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400&display=swap');